body{
  font-family: Arial, sans-serif;
       background-image: url("./new.jpg");
        background-size: cover;
        height: 100vh; 
  color: rgb(221, 137, 137); 
}
#buttons{
  display: flex;
}
header, footer {
  /* background-color: rgb(230, 217, 217); */
  color: rgb(185, 50, 50);
  padding: 1em;
  filter: alpha(opacity=50); /* IE */
  -moz-opacity: 0.5; /* Mozilla */
  opacity: 0.5; /* CSS */
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav a {
  color: rgb(126, 49, 208);
  text-decoration: none;
}

main {
  padding: 1em;
}

main h1 {
  text-align: center;
}

section {
  margin-bottom: 1em;
}
a{
  text-decoration: none;
}
section h2 {
  margin-bottom: 0.5em;
}

ul {
  margin-top: 0;
  padding-left: 1em;
}
#buttons {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.but{
  padding-left: 50px;
  padding-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 10px;
  /* background-color: #4CAF50; */
  color: white;
  width: 200px;
  height: 80px;
  /* background-color: rgba(179, 114, 84, 0.815); */
  background-color: hsla(44, 87%, 41%, 0.829);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  filter: alpha(opacity=50); /* IE */
  -moz-opacity: 0.7; /* Mozilla */
  opacity: 0.8; /* CSS */
}

button:hover {
  background-color: #3e8e41;
}
.foot{
  padding-top: 10px;
}